<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aftarobot.beaconmanager2">

    <!-- The INTERNET permission is required for development. Specifically,
         flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <!-- io.flutter.app.FlutterApplication is an android.app.Application that
         calls FlutterMain.startInitialization(this); in its onCreate method.
         In most cases you can leave this as-is, but you if you want to provide
         additional functionality it is fine to subclass or reimplement
         FlutterApplication and put your custom class here. -->
    <application
        android:name="io.flutter.app.FlutterApplication"
        android:label="beaconmanager2"
        android:icon="@mipmap/ic_launcher">
        <meta-data
            android:name="com.google.android.awareness.API_KEY"
            android:value="AIzaSyC9Qq0qss2GGOO_-VNOWLB5DUjSGqBWe7s" />


    </application>
</manifest>
